
.container{
    display: flex;
}

.container .right {
    background:linear-gradient(green,white);
    width: 100%;

}
.container .right .up{
 
    justify-content: center;
    align-items: center;
    
    display: flex;
    flex-direction: column;
}
